h1,h2,h3,p {
   font-family: 'Raleway', sans-serif;
}
h1 {
font-weight: 700;
font-size: 22px;
line-height: 26px;
}
p {
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
/* Header */
.Logo-Booki {
    position: absolute;
    width: 61.09px;
    height: 19px;
    }

    .header {
        display:flex;
 }

/* Barres de navigations */
 .Filtres {
    display:flex;
 }
 p span {
    color:black
 }
.Filtres p { 
    font-weight: bold
}
.Filtres {
    color:#0065FC;

 }
 .info {
    display:flex;
    color:#0065FC
 }

 /* Hébergements à Marseille */
.Main {
    display:flex;
}
.La-canebière,.Port,.Mouettes,.Mer,.LePanier,.ChezAmina {
    color:#0065FC;
}

.Main2 {
    display:flex;
}

/* Aside */
.Icône6 {
    display: flex;
    color: #0065fc;
}

.Les-plus-populaires {
    display: flex;
    flex-direction: column;
}
.Matin,.Eau,.Bleu-Blanc {
    color:#0065FC
}

/* Activités à Marseille */
.ActivitésMarseille {
    display: flex;
}
.Vieux-Port p {
    font-weight: bold;
}
.Pomègues p {
    font-weight: bold;
}
.Calanques p {
    font-weight: bold;
}
.NotreDame p {
    font-weight: bold;
}
/* Footer */

.Bas-de-page {
    display: flex;
}
 .àpropos {
    font-weight: bold;
 }