/*Body*/
h1,h2,h3,p, button,ul {
   font-family: 'Raleway', sans-serif;
}
/*Nav*/
.Logo-Booki {
    width: 61.09px;
    height: 19px;
    border-radius: 0px;
    }
li :hover {
    color:#0065FC
    }
.Hébergements,.Activités {
    list-style-type: none;
    display: inline;
    }
nav {
    display: flex;
    text-align: right;
    gap: 1200px;
    }
ul  {
    padding:0;
    margin:0;
    list-style-type:none;
    }
li  {
   
    float:left; 
    }
ul li a {
    display:block;
    float:left;   
    width:100px;
    }

    /*Header*/
h1 {
font-weight: 700;
font-size: 22px;
line-height: 26px;
;

}
p {
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
/* Header */
  .loc{
    background-color:#F2F2F2;
    border-radius: 20px 0px 0px 20px;}

 .recherche {
    color: #0065FC;
 }
 .localisation {
    display: flex;
 }
/*Main section 1*/
button {
    border-style: solid;
    border-radius: 25px;
    border-width :2px;
    background-color:white;
    border-color: #F2F2F2;
}
.Rechercher {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 20px 20px 0px;
}

 .Filtres {
    display:flex;
    gap : 30px;
 }
 p span {
    color:black
 }
.Filtres p { 
    font-weight: bold
}
 .info {
    display: flex;
    color:#0065FC
 }

 /* Hébergements à Marseille */
 h2 {
    background-color: #F2F2F2;
    
 }
.Main1 {
    display:flex;
    gap: 40px;
    background-color: #F2F2F2;
    border-radius: 25px 25px 0px 0px;
}

img {
    width: 246px;
    height: auto;
    border-radius: 20px;
}

.La-canebière,.Port,.Mouettes,.Mer,.LePanier,.ChezAmina {
    color:#0065FC;
    display: block;
}

.Main2 {
    display:flex;
    gap: 40px;
    background-color: #F2F2F2;
    border-radius: 0px 0px 25px 25px;
    float: left;
}


/* Aside */
aside {
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
 
}
.Icône6 {
    display: flex;
    color: #0065fc;
}

.Les-plus-populaires {
    display: flex;
  
}
.Matin,.Eau,.Bleu-Blanc {
    color:#0065FC
}

/* Activités à Marseille */
.ActivitésMarseille {
    display: flex;
    float: left;
}

/* Footer */

.Bas-de-page {
    display: flex;
    background-color: #F2F2F2;
    gap: 180px;
    float:left;
    justify-content: space-around;
}
.àpropos {
    margin-left: 70px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}
