/*CSS Desktop version/*

/*Body*/

body {
    margin-left :50px;
}

h1,h2,h3,p, button,ul {
    font-family: 'Raleway', sans-serif;
}

/*Header*/

header{ 
    display: flex;
    justify-content: space-between;
}

header .logo {
    height: 40px;
    display: flex ;
    margin: 20px;
    margin-left: -50px ;
}

header {
    margin-left: 50px;
}

/* Header & Nav*/

#Hébergements #Activités {
    margin-right: 50px;
}

header nav li {
    border-top: 3px solid transparent;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
}

nav li:hover {
    border-color: #0065fc;
    color: #0065fc;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #0065FC;
}


h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-top: 50px;
}

.icentreville {
    margin-top: 8px;
    margin-bottom: 20px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


/* Filtre & Loc*/


.loc{
    background-color:#F2F2F2;
    border-radius: 20px 0px 0px 20px;
}

.Marseille {
    margin-right: -6px;
}

 .localisation {
    display: flex;
}

button {
    border-style: solid;
    border-radius: 25px;
    border-width :2px;
    background-color:white;
    border-color: #F2F2F2;
    font-size: 18px;
}

.Marseille {
    border-style: solid;
    border-radius: 0px;
    border-width :2px;
    background-color:white;
    border-color: #F2F2F2;
    font-size: 18px;
    height: 49px;
    width: 282px;    
}

.Rechercher {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 20px 20px 0px;
    height: 49px;
    width: 132px;
}

.search {
    visibility: hidden;
  }
  

.Filtres button:hover {    
background-color:  #DEEBFF;
}

.Filtres {
    display:flex;
    gap : 30px;
    margin-top: 32px;    
}

.Filtres p { 
    font-weight: bold;
    font-size: 18px;   
}

.star-color,.fa-person,.fa-heart, .fa-dog {
    color: #0065FC;
    margin-right: 10px;
    margin-left: 10px;
}

p span {
    color:black;
}

.info {
    display: flex;
    color:#0065FC;
    margin-top: 25px;   
}

/* Hebergements And Populaires */

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between; 
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    background-color:#F2F2F2;
}

.card {
    background-color: white;
    border-radius: 20px;
    height: auto;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}
.fa-chart-line {
    color: #0065FC;
}

.euro {
    font-weight: 700;
}

.fa-star {
    color: #0065FC;
}

.neutralStar {
    color:#F2F2F2
}

/* Hebergements */

.section-title{
    margin: 0;
    font-size: 22px;    
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.h-card {
    background-color: white;
    border-radius: 20px;
    height: auto;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-right:30px;
}

.hebergements {
    width: 1240px;
    height: 630px;
    margin-right: 40px;   
}

.hebergements-title {
    display: block;  
}

.hebergements-cards  {
    flex-wrap:wrap ;
    height: auto;
    margin-bottom: 5px;
    display: flex;
    gap: 30px;
} 

.h-card {
  width: 28%;
  margin-right: 0px;
}

.hebergements-cards img  {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

 .h-card-content {
    padding-left: 15px;
}
    
 .Afficher-plus {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

/* Populaires */

.populaires {
    width: 32%;
    margin-right: 50px;
    
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; 
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*Activités*/

.a-card {
    background-color: white;
    border-radius: 20px;
    height: auto;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-right: 10px;
}

.card-activités {
    height: 439px;
    margin-right: 30px;
}

.a-card {
    box-sizing: border-box;
    height: 439px;
}

.activités-cards{
    display: flex;
    
}

.Activités {
    padding-left: 30px;
}

.Activités h1 {
    padding-bottom: 30px;
    display: block;
}

.Activités img {
    border-radius:20px 20px 0px 0px ;
    height: 380px;
     width: 297px;
    object-fit: cover;
}

.Activités p {
    font-weight: bold;
    margin-left: 19px;
}

/* Footer */

footer {
    margin-right: 50px;
    padding-top: 65px;
    
}
.footer-class {
    display: flex;
    background-color: #F2F2F2;
    gap: 180px;
    justify-content: space-around;
    margin-top: 60.51px; 
}



/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

/* Body*/

body {
    margin-right: 50px;
}    

/* Header & Nav */

.Filtres {
   gap : 0px;
   justify-content: space-around;
}

/* Hebergements And Populaires */
 
.hebergements-and-populaires {
    flex-direction: column;
    margin-right: 50px;
}

/* Hebergements */

 .hebergements {
    width: 98%;
    height: auto;
 }

 .hebergements-cards {
    gap:37px;
    margin-bottom: 0px;
 }

.h-card {
    margin-right: 0px;
    width: 28%;
}

/* Populaires */

.populaires {
    width: 98%;
    margin-top: 50px;
}

.populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.populaires-cards .card {
    width: 30%;
}

.populaires-cards .card-title {
    font-size: 14px;
}

.populaires-cards .card-subtitle {
    font-size: 13px;
}

/*Activités*/

.Activités {
     width: 100%;
    padding-left: 0;
}
    
.card-activités {
    width: 25%;
    margin-right: 0;
}
 
.a-card {
    height: 270px;
}
  
.Activités img {
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    width: 100% ; 
    object-fit: cover;
}
.card-activités {
    height :200px
}

/* Footer */

.footer-class {
    width: 105%;
    display: flex;
    gap :0px
}
 
}





/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

/* HEADER & NAV */
    
header {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.header-title {
    margin-left: 20px;
    margin-right: 20px
  }

header .logo {
    margin-left: 20px;
}
      
p {
    margin-right: 20px;
}

.logo img {
    margin: auto;
    width: 61.09px;
    height: 19px;
}
  
nav ul {
    margin: -30px;
}

.Rechercher{ 
    display: none;  
}

.search {
    visibility: visible ;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
}

.Marseille {
    width:255px;
    height: 49px;
}

.Filtres {
    display: block;
    margin-right: 0px;
}

.Filtres button {
    height: 50px;
    width: 162.5px;
} 

.info, .Filtres, .icentreville, .localisation {
    margin-left: 30px;
}

/* Body */

body {
    margin-right: 0px;
    margin-left:0px;
}

/* Hebergements */

.hebergements {
    order: 1;
    gap:15px;
    margin-left: 20px;
}

.s-title {
padding-top:35px
}

/* Populaires */

.populaires {
    order: 0;
} 

.populaires-cards {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #F0F2F6;
    padding-bottom: 30px;
}

.populaires-title {
    background-color: #F0F2F6;
    padding-top: 30px;
}

.section-title {
     margin-left: 20px;
}
    
.fa-chart-line{
    margin-right: 20px;
}

.populaires-cards .card {
    width: 100%;
 }

.populaires-cards .card-title {
    font-size: 14px;
}

.populaires-cards .card-subtitle {
    font-size: 13px;
}

/* Hebergements And Populaires */
    
.hebergements-and-populaires section{
    padding: 0px;
    background-color: white;
        
}
  
.hebergements-and-populaires{
    background-color: white;
    margin-right: -6px;
}

.hebergements-cards {
    flex-direction: column;
    height: auto;
    margin-bottom: 5px;
    display: flex;      
}

.h-card {
    margin-right: 0px;
    width: 87%;
}
   
.hebergements-cards img {
    width: 100%;
    object-fit: cover;
}
    

/*Activités*/

.Activités {
   margin-left: 20px;
   margin-right: 20px;
 }

 .activités-cards {
    flex-direction: column;
    gap: 15px;
   
 }

 .card-activités {
    width: 92%;
    height: auto;
 }


 /* Footer */

 footer {
    width: 100%;
 }

.footer-class {
   width: 100% !important;
   display: flex;
   flex-direction: column; 
 }

 .footer-item {
    margin-left: 30px;
 }


}